.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  font-size: larger;
  margin: 0 auto;
}
.input {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 12px;
}
.button {
  width: 30%;
  margin: 0 auto;
}
